$cms-title-height: 60px;
$cms-content-heigth: calc(100% - #{$cms-title-height});
html,body,#app{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif';
  color: #48576a;
}
