$height: 35px;
$base-color: #bfcbd9;
.articleTools {
  height: 30px;
  line-height: 30px;
  float: right;
  margin-right: 20px
}
.channelTools {
  height: $height;
  border-bottom: 1px solid #{$base-color};
}
.channelContent{
  height: calc(100% - #{$height});
  margin-top: $height;
  font-size: 12px;
  .el-col-5 {
    border-right: 1px solid #{$base-color};
    height: 100%;
  }
  .el-col-19 {
    height: 100%;
  }
}
.channelMenu{
  border: 1px solid #eef1f6;
  height: 30px;
  line-height: 30px;
  background-color: #dfe6ec;
  padding-left: 5px;
  cursor: pointer;
}
.channelMenu:hover{
  background-color: #fbfdff;
}
.channelMenu:active{
  background-color: rgba(0,0,0,.04);
}
.scrollFeature{
  overflow: hidden;
  height: 100%;
}
.scrollChilder{
  overflow-y: scroll;
  height: 100%;
}
.artcleInfo{
  border: 1px solid #dfe6ec;
  border-radius: 3px;
  height: 35px;

  margin: 5px;
  padding-left: 10px;
  line-height: 35px;
  overflow: hidden
  /*display: flex;
  align-items: center;*/
}
.artcleInfo:hover{
  background-color: #dfe6ec;
}
.channelDelete{
  opacity: 0;
  transition: all 0.4 ease;
}
.channelDelete:hover{
  opacity: 1;
}
.addArticleForm{
  margin:30px auto;
  width: 80%;
  text-align: center;
}
.info-func{
  opacity: 0;
  float: right;
}
.info-func:hover {
  opacity: 1;
  transition: all 0.3 ease 0.1;
}
// articleReader
.atc{
  width: 100%;
  height: 100%;
  .articleHeader{
    text-align: center;
    border-bottom: 1px solid $base-color;
    h4{
      margin-top: 0;
    }
  }
  .arcticleBody{
    margin: 10px;
  }
  .articleFooter{
    border-top: 1px solid $base-color;
    text-align: center;
    div{
      margin-top: 10px
    }
  }
}
.goBack{
  position: relative;
  float: left;
  margin-left: 10px;
}
