@import "../base/style";
.cms{
  color: #48576a;
  height: 100%;
}
.cms-title{
  background-color: #324157;
  height: $cms-title-height;
  color: #fff;
}
.cms-content{
  height: $cms-content-heigth;
}
.per-cms-content{
  height: 100%;
  // background-color: red;
}
.box-scoll{
  height: 99%;
}
.full-content {
  width: calc( 100% - 1px);
  height: calc( 100% - 1px);
}
.card-border-radius{
  border-radius: 0px;
}
